<!DOCTYPE html>
<html class="layout-pf layout-pf-fixed transitions">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rick and Morty</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css" rel="stylesheet"/>
</head>

<body>
    <div id="app"></div>
</body>
</html>
